@import "../../../styles/variables.scss";

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;

  section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-section {
    gap: 8px;

    flex-grow: 1;
    background-color: $gray-bg;
  }

  .form-section {
    flex-grow: 0.3;
    padding: 0 35px;

    h2{
      font-size: 20px;
      font-weight: bold;
    }

    button{
      width: 100%;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 500;
      border: none;
      background-color: transparent;
      padding: 12px 24px;

      &.btn-primary{
        background-color: $primary-color;
        color: white;
      }

      &.btn-secondary{
        border: 1px solid $primary-color;
        color: $primary-color;
      }
    }


  }
}
