@import './../../styles/variables.scss';
@import '../../styles/mixins.scss';

.author {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .image {
        width: 3.5rem;
        height: 3.5rem;
        border: 1px solid red;
        border-radius: 50%;
    }

    .content{
        span{
            display: block;
        }

        .name{
            font-size: 1.5rem;
        }

        .date{
            font-size: 1.2rem;
            color: $gray;
        }
    }
}